[[div style="background: url(http://fondationscp.wdfiles.com/local--files/host/logo-scp-alt.png) center no-repeat; width: 95%; margin: 1em auto; padding: 0.1em 1.5em; border: solid 2px black; box-shadow: 0 1px 3px rgba(0,0,0,.2);"]]
##ff5c48|[[size 150%]] **ATTENTION : LE FICHIER SUIVANT EST CLASSIFIÉ DE NIVEAU 3** [[/size]]##
----
[[size larger]] **TOUTE TENTATIVE D’ACCÈS AU FICHIER SANS UNE AUTORISATION DE NIVEAU #/XXXX SERA ENREGISTRÉE ET ENTRAÎNERA DES SANCTIONS DISCIPLINAIRES IMMÉDIATES.**[[/size]]
[[/div]]

[[div class="blockquote" style="border-radius: 10px; width: 96.5%;"]]
**Retranscription vidéo d’un journal d’exploration**

**Date :** OPTIONNEL

**Équipe d’exploration :** NOM DE L’ÉQUIPE - OPTIONNEL

**Sujet :** ZONE/ANOMALIE - OPTIONNEL

**Chef d’équipe :** OPTIONNEL

**Membres de l’équipe :** OPTIONNEL
-----

[DÉBUT DE LA RETRANSCRIPTION]

**Personne A :** Dialogue

**Personne B :** Dialogue

//DES TRUCS SE PRODUISENT//

**Personne A :** Dialogue

[FIN DE LA RETRANSCRIPTION]

[[/div]]
