div.terminal{
  border: 1px solid black;
  border: solid 3px #BBBBBB;
  border-radius: 16px;
  background-color: #131;
/* ombre noire en haut de la console */
  background-image:
      radial-gradient(ellipse 1000% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: block;
/* ombre autour de la console */
  box-shadow: inset 0 0 10em 1em rgba(0,0,0,0.5);
/* évite les erreurs de rendu lors que l'on scroll */
  overflow:hidden;
}
div.terminal blockquote {
  background-color: black;
  border: double 3px #80FF80
}
div.scanline{
  margin-top: -40%;
  width: 100%;
  height: 60px;
  position: relative;
  pointer-events: none;
/* Safari 4.0 - 8.0 */
  -webkit-animation: scan 12s linear 0s infinite; /* Vous pouvez avoir besoin de changer ça. Si la barre va trop vite, augmentez de 5s. */
  animation: scan 12s linear 0s infinite; /* Même chose qu'au dessus */
  background: linear-gradient(to bottom, rgba(56, 112, 82,0), rgba(56, 112, 82,0.1)) !important;
}

div.text{
  color: rgba(128,255,128,0.8);
  padding-left: 2em;
  padding-top: 40%;
  font-family: monospace;
  font-size: 1.9em;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scan{
  from{ transform: translateY(-10%);}
  to{  transform: translateY(5000%);} /* Vous pourriez avoir besoin de changer ceci selon la longueur de votre console. Si la barre s'arrête en plein milieu, augmentez le deuxieme nombre.*/
}

@keyframes scan{
  from{ transform: translateY(-10%);}
  to{  transform: translateY(5000%);} /* Même chose qu'au-dessus.*/
}

div.text a {
  color: #90EE90;
  text-decoration: none;
  background: transparent;
}
div.text a.newpage {
  color: #90EE90;
  text-decoration: none;
  background: transparent;
}
div.text a:hover {
  color: #131;
  text-decoration: underline;
  background-color: #80FF80;
  padding: 1px;
}
div.text a:hover::before{
content: "> ";
}

